[submodule "powercord/.config/powercord/src/Powercord/plugins/game-activity-toggle"]
	path = powercord/.config/powercord/src/Powercord/plugins/game-activity-toggle
	url = git@github.com:Juby210/game-activity-toggle.git
[submodule "powercord/.config/powercord/src/Powercord/plugins/discord-status"]
	path = powercord/.config/powercord/src/Powercord/plugins/discord-status
	url = git@github.com:KableKo/discord-status.git
[submodule "powercord/.config/powercord/src/Powercord/plugins/PowercordPluginDownloader"]
	path = powercord/.config/powercord/src/Powercord/plugins/PowercordPluginDownloader
	url = git@github.com:LandenStephenss/PowercordPluginDownloader.git
[submodule "powercord/.config/powercord/src/Powercord/plugins/userid-info"]
	path = powercord/.config/powercord/src/Powercord/plugins/userid-info
	url = git@github.com:webtax-gh/userid-info.git
[submodule "powercord/.config/powercord/src/Powercord/plugins/dm-typing-indicator"]
	path = powercord/.config/powercord/src/Powercord/plugins/dm-typing-indicator
	url = git@github.com:Litleck/dm-typing-indicator.git
[submodule "powercord/.config/powercord/src/Powercord/plugins/urban"]
	path = powercord/.config/powercord/src/Powercord/plugins/urban
	url = git@github.com:powercord-community/urban.git
[submodule "powercord/.config/powercord/src/Powercord/plugins/better-replies"]
	path = powercord/.config/powercord/src/Powercord/plugins/better-replies
	url = git@github.com:cyyynthia/better-replies.git
[submodule "powercord/.config/powercord/src/Powercord/plugins/powercord-open-in-spotify"]
	path = powercord/.config/powercord/src/Powercord/plugins/powercord-open-in-spotify
	url = git@github.com:lorencerri/powercord-open-in-spotify.git
[submodule "powercord/.config/powercord/src/Powercord/plugins/text-file-viewer"]
	path = powercord/.config/powercord/src/Powercord/plugins/text-file-viewer
	url = git@github.com:Juby210/text-file-viewer.git
[submodule "powercord/.config/powercord/src/Powercord/plugins/relationship-notifier"]
	path = powercord/.config/powercord/src/Powercord/plugins/relationship-notifier
	url = git@github.com:Twizzer/relationship-notifier.git
[submodule "powercord/.config/powercord/src/Powercord/plugins/webhook-tag"]
	path = powercord/.config/powercord/src/Powercord/plugins/webhook-tag
	url = git@github.com:BenSegal855/webhook-tag.git
[submodule "powercord/.config/powercord/src/Powercord/plugins/image-to-clipboard"]
	path = powercord/.config/powercord/src/Powercord/plugins/image-to-clipboard
	url = git@github.com:lavgup/image-to-clipboard.git
[submodule "powercord/.config/powercord/src/Powercord/plugins/silent-type"]
	path = powercord/.config/powercord/src/Powercord/plugins/silent-type
	url = git@github.com:KableKo/silent-type.git
[submodule "powercord/.config/powercord/src/Powercord/plugins/reddit-parser"]
	path = powercord/.config/powercord/src/Powercord/plugins/reddit-parser
	url = git@github.com:Rodentman87/reddit-parser.git
[submodule "powercord/.config/powercord/src/Powercord/plugins/VC-Double-Click-Join"]
	path = powercord/.config/powercord/src/Powercord/plugins/VC-Double-Click-Join
	url = git@github.com:Twizzer/VC-Double-Click-Join.git
[submodule "powercord/.config/powercord/src/Powercord/plugins/pc-copy-msg-url"]
	path = powercord/.config/powercord/src/Powercord/plugins/pc-copy-msg-url
	url = git@github.com:Bri-ish/pc-copy-msg-url.git
[submodule "powercord/.config/powercord/src/Powercord/plugins/show-all-activities"]
	path = powercord/.config/powercord/src/Powercord/plugins/show-all-activities
	url = git@github.com:Juby210/show-all-activities.git
[submodule "powercord/.config/powercord/src/Powercord/plugins/bdCompat"]
	path = powercord/.config/powercord/src/Powercord/plugins/bdCompat
	url = git@github.com:Juby210/bdCompat.git
